[Unit]
Description=Run Cloudflare Dynamic DNS Updater every 2 minutes
Requires=cloudflare-ddns.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
# Se o sistema estava off quando o timer deveria rodar, roda ao ligar
Persistent=true

[Install]
WantedBy=timers.target
